<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FirstFloor.ModernUI.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FirstFloor.ModernUI.App.Properties.Settings>
            <setting name="CoreSolution" serializeAs="String">
                <value>lanteria.effectivestaff.wsp</value>
            </setting>
            <setting name="SiteFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_LanteriaSite</value>
            </setting>
            <setting name="WebFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_LanteriaWeb</value>
            </setting>
            <setting name="ContentFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_LanteriaContent</value>
            </setting>
            <setting name="SqlFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_lanteriaSQL</value>
            </setting>
            <setting name="ADFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_LanteriaADIntergation</value>
            </setting>
            <setting name="UPFeature" serializeAs="String">
                <value>Lanteria.ES.SharePoint_LanteriaUserProfileIntegration</value>
            </setting>
            <setting name="SolutionID" serializeAs="String">
                <value>a5fd7f06-6bbc-4f25-9192-cff892ce5e9b</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>C:\lanteria\update\</value>
            </setting>
        </FirstFloor.ModernUI.App.Properties.Settings>
    </userSettings>
</configuration>
